<!DOCTYPE html>
<html>
    <head>
        <title>First Git App</title>
    </head>
    <body>
        <div>
            <ul>
                <li>Mangoes</li>
                <li>Oranges</li>
                <li>Apples</li>
                <li>Bananas</li>
                <li>Grapes</li>
            </ul>
            
        </div>
    </body>

</html>

